## 元组

元组是一种有序列表。tuple和list非常类似，但是tuple一旦初始化就不能修改。

In [1]:
tup = 4, 5, 6

In [4]:
print(tup)
print(type(tup))

(4, 5, 6)
<class 'tuple'>

一旦创建了元组，元组中的对象就不能修改了：

In [5]:
tup = tuple(['foo', [1, 2], True])

In [6]:
tup[2] = False

TypeError: 'tuple' object does not support item assignment

如果元组中的某个对象是可变的，比如列表，可以在原位进行修改：

In [7]:
tup[1].append(3)

In [8]:
tup

('foo', [1, 2, 3], True)

可以用加号运算符将元组串联起来：

In [12]:
(4, None, 'foo') + (6, 2) + ('bar')

TypeError: can only concatenate tuple (not "str") to tuple

In [13]:
(4, None, 'foo') + (6, 2) + ('bar',)

(4, None, 'foo', 6, 2, 'bar')

In [14]:
(4, None, 'foo') *3 + (6, 2) + ('bar',)

(4, None, 'foo', 4, None, 'foo', 4, None, 'foo', 6, 2, 'bar')

如果要定义一个空的tuple，可以写成()：

In [16]:
t = ()

In [17]:
t

()

但是，要定义一个**只有1个元素的tuple**，如果你这么定义：

In [18]:
t = (1)

In [19]:
type(t)

int

定义的不是tuple，是`1`这个数！这是因为括号`()`既可以表示tuple，又可以表示数学公式中的小括号，这就产生了歧义，因此，Python规定，这种情况下，按小括号进行计算，计算结果自然是`1`。这样解释了上面为什么会报错，因为最后一个被解释成了string类型，tuple类型无法与string进行串联

所以，**只有1个元素的tuple定义时必须加一个逗号**`,`，**来消除歧义**：

In [20]:
t = (1,)

In [21]:
type(t)

tuple

### 拆分元组

In [22]:
tup = (5, 6, 7)

In [23]:
a, b, c = tup

In [24]:
b

6

In [25]:
tup = 4, 5, (6, 7)

In [26]:
a, b, (c, d) = tup

In [27]:
d

7

In [28]:
a, b, c = tup

In [29]:
c

(6, 7)

In [30]:
a, b = tup

ValueError: too many values to unpack (expected 2)

之前见到的多变量赋值，原来实质上就是通过元组拆分的进行赋值的

In [31]:
a, b = 1, 2

In [32]:
a

1

In [33]:
b

2

In [34]:
b, a = a, b

In [35]:
a

2

In [36]:
b

1

变量拆分常用来迭代数组或列表序列：

In [37]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [39]:
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

Python最近新增了更多高级的元组拆分功能，允许从元组的开头“摘取”几个元素。
它使用了特殊的语法 *rest ，这也用在函数签名中以抓取任意长度列表的位置参
数：

In [40]:
value = 1, 2, 3, 4, 5

In [41]:
a, b, *rest = value

In [42]:
a, b

(1, 2)

In [43]:
rest

[3, 4, 5]

rest 的部分是想要舍弃的部分，rest的名字不重要。作为惯用写法，许多Python
程序员会将不需要的变量使用下划线：

In [45]:
a, b, *_ = value

### tuple方法

因为元组的大小和内容不能修改，它的实例方法都很轻量。其中一个很有用的就
是 count （也适用于列表） ，它可以统计某个值得出现频率：

In [47]:
a = (1, 2, 3, 2, 2, 4, 2)

In [48]:
a.count(2)

4